<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alert Vial Tuluá</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
</head>
<body>
  <div class="container"> 
    <h1>Bienvenido a Alert Vial Tuluá</h1>
    <h2>¿Qué desea hacer?</h2>
    <a href="{{ url_for('reportar') }}" class="btn-reportar">Reportar incidente</a>

    <!-- mostrar heatmap -->
    <a href="{{ url_for('heatmap') }}" class="btn-heatmap">Ver Heatmap</a >

    <!-- mostrar estadísticas -->
    <a href="/analytics" class="btn-estadisticas">Ver Estadísticas</a >

  </div>
 
</body>
</html>