<!DOCTYPE html>
<html lang="es"> 
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Recuperar Contraseña</h2>
    <form method="POST">
      <div class="email">
        <input type="email" name="correo" required>
        <label> Correo Electrónico </label>
      </div>
      <input type="submit" value="Enviar Enlace de Recuperación">
    </form>
    <div class="volver-inicio">
      <a href="{{ url_for('index') }}">Volver al inicio</a>
    </div>
  </div>
</body>
</html>