
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Vial Tulua</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class = "container">
        <h1>Alert Vial Tulua</h1>
        <h2>Iniciar Sesión</h2>
        <form method="post">
            <div class = "username">
                <input type="text" name="correo" required>
                <label> Usuario</label>
            </div>

            <div class = "password">
                <input type = "text" name="contrasena" required>
                <label> Contraseña </label>
            </div>

            <div class="recordar">
            <a href="{{ url_for('forgot_password') }}">¿Olvidó su contraseña?</a>
            </div>

            <input type = "submit" value = "Iniciar Sesión">

            <div>
                <a href="{{ url_for('google.login') }}" class="btn-google"> 
                    <img src="{{ url_for('static', filename='img/google.png') }}" alt="Google Icon" class="google-icon">
                    <span> Iniciar sesión con Google</span>
                </a>
            </div>

            <div class = "registrar"> 
                ¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate</a> 

            </div>
      

            
        </form>
    </div>

</body>
    



</html>