<!DOCTYPE html>
<html lang="es">        
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperar Contraseña</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>Restablecer Contraseña</h1>
    <form method="POST">
      <div class="password">
        <input type="password" name="nueva_contrasena" required>
        <label> Nueva Contraseña </label>
      </div>
      <div class="password">
        <input type="password" name="confirmar_contrasena" required>
        <label> Confirmar Contraseña </label>
      </div>
      <input type="submit" value="Restablecer Contraseña">
    </form>
    <div class="volver-inicio">
      <a href="{{ url_for('index') }}">Volver al inicio</a>
    </div>
  </div>
</body>
</html> 