<!DOCTYPE html>
<html lang="es">    
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rutas Seguras - Alert Vial Tuluá</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="map-page">  <!-- Agrega esta clase -->
<button id="route-button">Calcular Ruta</button>

<div id="route-modal" class="modal">
    <div class="modal-content">
        <span class="close" id="close-modal">&times;</span>
        <h2>Calcular Ruta Segura</h2>

        <label for="start-input">Punto de Inicio:</label>
        <input type="text" id="start-input" placeholder="Ej: Parque Bolívar">

        <label for="end-input">Punto de Destino:</label>
        <input type="text" id="end-input" placeholder="Ej: Terminal de Tuluá">

        <button id="send-route">Calcular</button>
    </div>
</div>

<div id="route-toast" class="route-toast"></div>

<div id="map"></div>

<script src="{{ url_for('static', filename='cal_ruta.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGuzlSWeHrkxHu1PjR_DVRTjkNkQxd2gg&libraries=visualization&callback=initMap" async defer></script>
</body>
</html>